
<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <title>21212.com - Groups</title>

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.1/css/bootstrap.min.css" type="text/css" media="all" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.1/css/bootstrap-responsive.min.css" type="text/css" media="all" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.1/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript">

  $(function(){

    var union = function(array1, array2) {
      var hash = {}, union = [];
      $.each($.merge($.merge([], array1), array2), function (index, value) { hash[value] = value; });
      $.each(hash, function (key, value) { union.push(key); } );
      return union;
    };

    $("#users").change(function(){
      var a = $("#users").val();
      var $selected = $("#selected");
      $selected.html("Loading groups that {a} belongs to...".replace(/{a}/,a));
      $.ajax({
        url:     "/search?q="+encodeURIComponent(a),
        success: function(result){
          var $groups = $("#groups");
          $groups.html("").attr('size', result.length);
          $.each(result, function(i, text) {
            $groups.append( $('<option></option>').val(text).html(text) );
          });
          $selected.html("Groups that {a} belongs to".replace(/{a}/,a) );
        }});
    });

    var updateResultSelect = function() {
      var $result = $("#result-select");
      $result.html("").
        append($("#src-select").html()).
        append($("#dst-select").html());

      var found = [];
      $("#result-select option").each(function() {
        if ($.inArray(this.value, found) != -1) {
          $(this).remove();
        }
        found.push(this.value);
      }).parent().attr('size', found.length);
    };

    $("#src-user").change(function(){
      var a = $("#src-user").val();
      $.ajax({
        url:     "/search?q="+encodeURIComponent(a),
        success: function(result){
          var $groups = $("#src-select");
          $groups.html("").attr('size', result.length);
          $.each(result, function(i, text) {
            $groups.append( $('<option></option>').val(text).html(text) );
          });

          updateResultSelect();
        }});
    });

    $("#dst-user").change(function(){	
      var a = $("#dst-user").val();
      $.ajax({
        url:     "/search?q="+encodeURIComponent(a),
        success: function(result){
          var $groups=$("#dst-select");
          $groups.html("");
          $groups.attr('size', result.length);
          $.each(result, function(i, text) {
            $groups.append( $('<option></option>').val(text).html(text) );
          });

          $("#result-text").html("How {a} groups will look like:".replace(/{a}/,a));

          updateResultSelect();
        }});
    });

    $('#text-users').bind('input keyup', function(){
      var $this = $(this);
      var delay = 2000; // 2 seconds delay after last input

      clearTimeout($this.data('timer'));
      $this.data('timer', setTimeout(function(){
        $this.removeData('timer');
        var a = $("#text-users").val();
        $.ajax({url:"/search?q="+a,success:function(result){
          var $groups=$("#groups");
          $groups.html("");
          $groups.attr('size', result.length);
          $.each(result, function(i, text) {
            $groups.append( $('<option></option>').val(text).html(text) );
          });
          var $selected =  $("#selected");
          $selected.html("Groups that " + a +" belongs to" );
        }});
        // Do your stuff after 2 seconds of last user input
      }, delay));
    });

    $("#copy").click(function(){
      if ($("#loading").length == 0) {	
        var loading = $("<img id='loading' style='padding-left:30px;' src='http://www.wallpaperama.com/post-images/forums/200903/07p-6606-loading-circle-.gif'/>").insertAfter(this);
      }
      $("#resultado").html("Loading...");	
      var src = $("#src-user").val();
      var dst = $("#dst-user").val();  
      $.ajax({url:"/transfer",data:{destination:dst,source:src},success:function(result){
        $("#resultado").html(result);
        loading.remove();
      }});
    });

  });
  </script>

</head>

<body>
  <div class="container">
    <!-- MAIN HEADER -->
    <header class="row">
      <div class="span12">
        <h1>21212's users groups</h1>
        <hr />
      </div>
    </header>

    <!-- FIRST GROUP -->
    <div class="row">
      <div class="span12">
        <h3>Which groups this user belongs to?</h3>
		<h3 id="teste">Teste</h3>
      </div>
    </div>
    <div class="row">
      <div class="span4">
        <h4>Pick a user</h4>
      </div>
      <div class="span8">
        <h4 id="selected"></h4>
      </div>
    </div>
    <!-- SELECTION BOXES -->
    <div class="row">
      <div class="span4">
        <select name="users" id="users">
		  <% @list.each do |user|%>	
          <option value=<%=user.username%>><%=user.username%></option>
          <% end %>
        </select>
		<input id="text-users" type="text"></input>
      </div>
      <div class="span8">
        <select name="groups" id="groups" multiple="yes" disabled="disabled">
        </select>
      </div>
    </div>

    <hr />

    <!-- SECOND GROUP -->
    <div class="row">
      <div class="span12">
        <h3>Copy this users groups to this other one</h3>
      </div>
    </div>
    <div class="row">
      <div class="span3">
        <h4>Pick source user</h4>
      </div>
      <div class="span3">
        <h4>Pick destination user</h4>
      </div>
      <div class="span6">
        <h4 id="result-text"></h4>
      </div>
    </div>
    <!-- SELECTION BOXES -->
    <div class="row">
      <div class="span3">
        <select name="src-user" id="src-user">
  		  <% @list.each do |user|%>	
            <option value=<%=user.username%>><%=user.username%></option>
          <% end %>
        </select>
      </div>
      <div class="span3">
        <select name="dst-user" id="dst-user">
  		  <% @list.each do |user|%>	
            <option value=<%=user.username%>><%=user.username%></option>
          <% end %>
        </select>
      </div>
      <div class="span6">
        <button class="btn btn-info" type="submit" id="copy">&nbsp;Copy!&nbsp;</button>
      </div>
    </div>
    <div class="row">
		<div class="span3">
	        <select id="src-select" multiple="yes" disabled="disabled">
	        </select>
		</div>
		<div class="span3">
	        <select id="dst-select" multiple="yes" disabled="disabled">
			</select>
		</div>
		<div class="span6">
	        <select name="result" id="result-select" multiple="yes" disabled="disabled">
			</select>
		</div>
	</div>
    <!-- STATUS -->
    <div class="row">
      <div class="span6">
      </div>
	  <div class="span6">
          <p id="resultado" class="text-info">Resultado</p>
	  </div>
    </div>

  </div>
  
</body>

</html>

